<p>Races That Require Stat Adjustments (click on your race): </p>
<div class="raceAdj">
  <fieldset>  
  <ul>
     <li class="race"><a (click)="dwarfAdj()">Dwarf </a></li>
     <li class="race"><a (click)="elfAdj()">Elf</a></li>
     <li class="race"><a (click)="gnomeAdj()">Gnome</a></li>
     <li class="race"><a (click)="halfAdj()">Halfling </a></li>
    </ul>
  </fieldset>  
</div>   
<div class="playerStats">
<fieldset>
  <legend> Player Statistics: </legend>
    <ul>
     <li><a>Strength: {{strength}} </a></li>
     <li><a>Dexeterity: {{dexeterity}} </a></li>
     <li><a>Constitution: {{constitution}} </a></li>
     <li><a>intellegence: {{intellegence}} </a></li>
     <li><a>Wisdom: {{wisdom}} </a></li>
     <li><a>Charisma: {{charisma}} </a></li>
    </ul>   
</fieldset>
</div>
