<head>
<title>DnD Character Generator</title>
</head>

<body>
<header>
   <h1><img src="../assets/DNDlogo.jpg" alt="dndlogo"></h1>
</header>  
  <p>Please choose which edition you would like a character for:</p>
  <fieldset class="bookedition">
      <legend> Edition </legend>
      <select>
        <option id="D1">Labrinth Lord</option>
        <option id="D2">1st edition</option>
        <option id="D3">Advanced DnD</option>
        <option id="D4">Advanced DnD 2nd edition</option>
        <option id="D5">3rd Edition</option>
        <option id="D6">DnD 3.5</option>
        <option id="D7">4th edition</option>
        <option id="D8">5th edition</option>
      </select>
   </fieldset>
</body>
