  <p>Enter a name for your character:</p>
     <div><input id="charName" name="cName" placeholder="Character Name"></div>
  <p>Choose your realm for the birth of your Character:</p>
   <fieldset>
    <legend> Edition: </legend>
      <div>
       <ul>
        <li><a [routerLink]="['LabLord']">Labrynth Lord</a></li>
        <li><a [routerLink]="['ADND']">Advanced DnD</a></li>
        <li><a [routerLink]="['ADND2ndEd']">Advanced DnD 2nd Edition</a></li>
        <li><a [routerLink]="['3rdED']">3rd Edition</a></li>
        <li><a [routerLink]="['3.5ED']">DnD 3.5</a></li>
        <li><a [routerLink]="['4thED']">4th Edition</a></li>
        <li><a [routerLink]="['5thED']">5th Edition</a></li>
       </ul>
      </div>   
    </fieldset>
