Header{
    text-align: center;
}
p {
   font-weight: bold;
   text-align: center;
   color: white;
   font-family:  'Playfair Display SC', 'Franklin Gothic Medium', 'sans-serif';
   text-shadow: 0 0 15px green;
}
fieldset{
    border: none;
    text-align: center;
}
div{
    text-align: center;
}
ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;
    font-family:  'Playfair Display SC', 'Franklin Gothic Medium', 'sans-serif';                
}
li {
    font-weight: bold;
    list-style-type: none;
}
a:hover{
    color:red;
    text-shadow: 0 0 10px;
}
a:active{
	position: relative;
	left: 1px;
	top: 1px;
}
a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 15px green;
}
legend{
        font-family:  'Playfair Display SC', 'Franklin Gothic Medium', 'sans-serif';
        color: white;
        text-shadow: 0 0 15px green;
        font-weight: bold;
    
}