<p>Races That Require Stat Adjustments (click on your race): </p>
<div>
   <fieldset class="raceAdj">
    <ul>
     <li class="race"><a (click)="dwarfAdj()">Dwarf </a></li>
     <li class="race"><a (click)="elfAdj()">Elf</a></li>
     <li class="race"><a (click)="gnomeAdj()">Gnome</a></li>
     <li class="race"><a (click)="halfAdj()">Halfling </a></li>
    </ul>
    </fieldset>
</div>   
<fieldset class="charStatistics">
  <legend> Player Statistics: </legend>
    <ul>
     <li><a>Strength: {{strength}} </a></li>
     <li><a>Dexeterity: {{dexeterity}} </a></li>
     <li><a>Constitution: {{constitution}} </a></li>
     <li><a>intellegence: {{intellegence}} </a></li>
     <li><a>Wisdom: {{wisdom}} </a></li>
     <li><a>Charisma: {{charisma}} </a></li>
    </ul>   
</fieldset>
<table>
    <td>
        <fieldset class="strengthStats">
            <legend> Strength Abillities: </legend>
              <ul>
               <li><a>Hit Probabillity: {{hitProb}} </a></li>
               <li><a>Damage Adjustment: {{damageAdj}} </a></li>
               <li><a>Weight Allowence: {{weightAllow}} </a></li>
               <li><a>Max Press: {{maxPress}} </a></li>
               <li><a>Open Doors: {{openDoors}} </a></li>
               <li><a>Bend Bars/Lift Gates: {{bendLift}} </a></li>
              </ul>   
          </fieldset>
    </td> 
</table>

