.race:hover{
    color: red;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;             
}
p{
    text-align: center;
}
fieldset{
    border: 1px solid black;
    margin: 0px auto;
    width: 200px;
    text-align: center;
}
